.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    

}

.grid>* {
    width: 100%;
    margin: 1em;
}

.grid-main-ciontainer {
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-columns: 50px 1fr 50px;

}

.grid-main-ciontainer>*{
    grid-column: 2;
}

ul.pure-list {
    margin: 0;
    padding: 0;
    display: flex;
}
ul.pure-list>li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}