/* layout */

.body-container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

}
.main {
    flex-grow: 1;
}

.main-header {
    position: sticky;
    top: 0;
    height: 66px;
    z-index: 999;
    display: flex;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-section {
    padding: 1em 0;
    width: 100%;
    display: grid;
    grid-template: 80vh / 1fr 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    /* display: none; */
}

.canvas-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.edit-meme-canvas {
    /* width: 30vw;
    height: 30vw; */
}

.edit-controlers {
    display: grid;
    gap: 10px;
    grid-template: repeat(3, 3.75em 3.75em 0.625em) / 1fr repeat(5, 3.75em) 1fr;
}

.edit-controlers .line-text {
    grid-row: 1;
    grid-column: 2 / -2;
}

.edit-controlers .change-lines {
    grid-row: 2 / span 1;
    grid-column: 2 / -2;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 3.75em);
}

.edit-controlers .edit-line-tools {
    grid-row: 4 / span 2;
    grid-column: 2 / -2;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 3.75em);
}

/* .edit-controlers .edit-line-tools >*{
    grid-row: span 2;
    grid-column:  span 1;
} */

.edit-controlers .edit-line-tools input {
    grid-column: span 3;
}

.gallery-section {
    min-height: 100%;
    display: grid;
    grid-template: 102px 5fr 2fr / 1fr;
    /* display: none; */
}

.serch-nav {
    position: sticky;
    top: 66px;
}

.grid-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(auto-fit, 360px);
    justify-content: center;
    background-color: #bebebe70;
    margin: 1em 0;
}

.grid-gallery>* {
    width: 100%;
    /* margin: 1em; */
}

.footer {
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* helpers */

.main-def-width {
    width: 1100px;
    /* width: 95vw; */
    margin-left: auto;
    margin-right: auto;
}

ul.pure-list {
    margin: 0;
    padding: 0;
    display: flex;
}

ul.pure-list>li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

*.display-none {
    display: none;
}

@media (max-width: 1135px) {
    .main-def-width {
        width: 900px;
    }
}

@media (max-width: 925px) {
    .main-def-width {
        max-width: 800px;
        margin: 0 auto;
    }
    .edit-controlers {
        font-size: 14px;
    }
    .edit-meme-canvas {
        width: 100%;
    }
}

@media (max-width: 845px) {
    .main-def-width {
        width: 95vw;
        margin: 0 auto;
    }
    .edit-controlers {
        font-size: 14px;
    }
    .edit-meme-canvas {
        width: 100%
    }
}

@media (max-width: 645px) {
    .edit-section {
        grid-template: 95vw 1fr / 100%;
    }
    .edit-controlers {

        font-size: 14px;
    }
    .canvas-container {
        width: 100%;
        height: fit-content;
    }

    .grid-gallery {
        display: flex;
        flex-direction: column;
    }

    .grid-gallery>*{
        width: 95vw;
    }
}