
/* component */
/* header */

.main-header {
    background-color: #ff7f00;
}

.logo {
    height: 22px;
}



/* main */

.main {
    background-color: #e3e3e3;
    align-self: stretch;
}

/* editor section */

.edit-section {
    /* border: 1px solid #000; */
}


.edit-controlers * >* {
    border-radius: 10px;
    background-color: #fff;
    border: none;
    font-size: 1.25em;
}

.canvas-container {
    /* border: 1px solid #000; */
}

.edit-meme-canvas {
    /* border: 1px solid #000; */
}


/* gallery section */



.serch-nav {
    background-color: #fff;
}

.grid-gallery {
    background-color: #bebebe70;
}



.grid-gallery .gallery-img {
    cursor: pointer;
}

.user-details {
    background-color: #fff;
}

/* footer */
.footer {
    background-color: #ff7f00;
}


/* helpers */

.activated {
    border-bottom: #000000 solid 3px;
}