
/* component */
/* header */

.main-header {
    background-color: #ff7f00;
}

.logo {
    height: 22px;
}


.hamborger-menu {
    background-image: url(../img/ui/menu.svg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.navbar {
    background-color: #ff7f00;  
}

.navbar .nav-link .btn{

    font-size: 19px;
}
.navbar .nav-link:hover {
    box-shadow: #000 inset 0 -3px 0;
}

.navbar .nav-link:not(:last-child) .btn{
    border-right: 1px solid #8a8a8a;
}

/* main */

.main {
    background-color: #e3e3e3;
    align-self: stretch;
}

/* editor section */

/* .edit-section {
    border: 1px solid #000;
} */


.edit-controlers * >* {
    border-radius: 10px;
    background-color: #fff;
    border: none;
    font-size: 1.25em;
}

.edit-controlers .btns>*:hover, .btn-publish:hover{
    box-shadow: #000 inset 0 -3px 0;
}

.edit-controlers .btn-publish{
    background-color: #ff7f00;
    color: #fff;

}

.edit-controlers .share-container .share-link {
    font-size: 1rem;
    color: #fff;
    font-family: monsterrat-bold;
    padding: 0.5em;
    background-color: rgb(83, 122, 207);
    grid-row: span 1;
}

.edit-controlers .btns .delete-line {
    background-image: url(../img/ICONS/trash.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .btns .add-line {
    background-image: url(../img/ICONS/add.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .btns .swith-lines {
    background-image: url(../img/ICONS/up-and-down-opposite-double-arrows-side-by-side.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .inc-text-line {
    background-image: url(../img/ICONS/increase\ font\ -\ icon.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .dec-text-line {
    background-image: url(../img/ICONS/decrease\ font\ -\ icon.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .rtl-text-line {
    background-image: url(../img/ICONS/align-to-left.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .ltr-text-line {
    background-image: url(../img/ICONS/align-to-right.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .center-text-line {
    background-image: url(../img/ICONS/center-text-alignment.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.edit-controlers .edit-line-tools .font-line:focus {
    outline: none;
}
/* 
.canvas-container {
    border: 1px solid #000;
}

.edit-meme-canvas {
    border: 1px solid #000;
} */

.serch-nav {
    background-color: #fff;
}

.serch-nav .search-box{
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
    outline-style: none;
}

.serch-nav .keywords .keyword{
    font-family: monsterrat-medium;
    font-size: 1rem;
    cursor: pointer;
}

.gallery-img {
    cursor: pointer;
}

.user-details {
    background-color: #fff;
}

/* footer */
.footer {
    background-color: #ff7f00;
}


/* helpers */

.nav-link.activated {
    box-shadow: inset  0px -3px 0 #000;
}